 .u-section-1 {
  background-image: linear-gradient(to right, #292870, #db7430);
}

.u-section-1 .u-sheet-1 {
  min-height: 599px;
}

.u-section-1 .u-text-1 {
  margin: 70px auto 0;
}

.u-section-1 .u-form-1 {
  height: 403px;
  width: 570px;
  margin: 27px auto 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.5rem;
}

.u-section-1 .u-label-2 {
  font-size: 1.5rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-size: 1.5rem;
}

.u-section-1 .u-input-1 {
  font-size: 1.125rem;
  background-image: none;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-size: 1.5rem;
}

.u-section-1 .u-input-2 {
  font-size: 1.125rem;
  background-image: none;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-size: 1.5rem;
}

.u-section-1 .u-input-3 {
  font-size: 1.125rem;
  background-image: none;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.u-section-1 .u-input-4 {
  font-size: 1.125rem;
  background-image: none;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-size: 1.5rem;
    margin-left: 40px;
    margin-right: 40px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  font-size: 1.5rem;
}

.u-section-1 .u-label-9 {
  font-size: 1.5rem;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-10 {
  font-size: 1.5rem;
}

.u-section-1 .u-input-5 {
  font-size: 1.125rem;
  background-image: none;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-11 {
  font-size: 1.5rem;
}

.u-section-1 .u-input-6 {
  font-size: 1.125rem;
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}

 .movie-container {
   margin: 20px 0;
 }

 .movie-container select {
   background-color: #fff;
   border: 0;
   border-radius: 5px;
   font-size: 16px;
   margin-left: 10px;
   padding: 5px 15px 5px 15px;
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
 }

 .container {
   perspective: 1000px;
   margin-bottom: 30px;
   margin-left: auto;
   margin-right: auto;
 }

 .seat {
   background-color: #444451;
   height: 26px;
   width: 32px;
   margin: 3px;
   font-size: 50px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
 }

 .seat.selected {
   background-color: green;
 }

 .seat.sold {
   background-color: #fff;
 }

 .seat:nth-of-type(2) {
   margin-right: 18px;
 }

 .seat:nth-last-of-type(2) {
   margin-left: 18px;
 }

 .seat:not(.sold):hover {
   cursor: pointer;
   transform: scale(1.2);
 }

 .showcase .seat:not(.sold):hover {
   cursor: default;
   transform: scale(1);
 }

 .showcase {
   background: rgba(0, 0, 0, 0.1);
   padding: 5px 10px;
   border-radius: 5px;
   color: #777;
   list-style-type: none;
   display: flex;
   justify-content: space-between;
 }

 .showcase li {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 10px;
 }
 .showcase li small {
   margin-left: 2px;
 }

 .row {
   display: flex;
 }

 .screen {
   background-color: #fff;
   height: 120px;
   width: 100%;
   margin: 15px 0;
   transform: rotateX(-48deg);
   box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
 }